<!DOCTYPE html>
 <html lang="en" id="top">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <title>{{title}}</title>
    <!-- import the SemanticUI stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/semantic.min.css">
    <!-- import Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Nosifer&family=Jolly+Lodger&display=swap" rel="stylesheet">
    <!-- import country flags -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css"/>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">   
  </head>
  <body>
    <section class="ui container" style="padding-bottom: 20px !important">
      {{{body}}}
    </section>
    <!-- import the jQuery file -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- import the SemanticUI javascript file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/semantic.min.js"></script>
    <!-- import the webpage's javascript file -->
    <script src="/script.js"></script>
  </body>
</html>